
name: Build and Push Docker Image

on:
  push:
    branches:
      - deployment # Trigger on push to deployment branch
      - main       # Trigger on push to main branch
  pull_request:
    branches:
      - deployment  # Trigger on PR to deployment branch
      - main        # Trigger on PR to main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean install